<div class="row">
    <div class="col-xs-12">
        <div class="panel-group" [id]="accordionId" role="tablist" aria-multiselectable="true">
                <div class="panel panel-primary margin">
                <div class="panel-heading" [id]="headingId">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" [attr.data-parent]="'#' + accordionId" [href]="'#' + collapseId" aria-expanded="true" [attr.aria-controls]="collapseId">
                            Weather information
                        </a>
                    </h3>
                </div>
            <div [id]="collapseId" class="panel-collapse collapse in" role="tabpanel" [attr.aria-labelledby]="headingId">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <img [src]="getWeatherImage()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left"><span class="label label-info">City</span></div>
                        <div class="col-xs-8 text-left">{{weatherInfo?.name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left"><span class="label label-info">Temperature</span></div>
                        <div class="col-xs-8 text-left">{{weatherInfo?.main.temp}} °C</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left"><span class="label label-info">Description</span></div>
                        <div class="col-xs-8 text-left">{{weatherInfo?.weather[0].description}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left"><span class="label label-info">Sun up</span></div>
                        <div class="col-xs-8 text-left">{{getDate(weatherInfo?.sys.sunrise)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-left"><span class="label label-info">Sun down</span></div>
                        <div class="col-xs-8 text-left">{{getDate(weatherInfo?.sys.sunset)}}</div>
                    </div>
                
                    <div class="row top-buffer" *ngIf="errorMessage">
                        <div class="col-xs-12"><div class="alert alert-danger" role="alert">{{errorMessage}}</div></div> 
                    </div>   

                    <div class="row top-buffer">
                        <div class="col-xs-12">
                            <button (click)="getWeather()" type="button" class="btn btn-primary btn-md">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>   
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


