
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>
<div class="row">
    <div class="col-xs-12">
       <app-weather></app-weather>      
    </div>       
</div>

